.container {
  border-radius: 50%;
  background-color: rgb(197, 239, 247);
  background-image: linear-gradient(135deg, rgb(197, 239, 247), rgb(82, 179, 217));
  display: flex;
  justify-content: center;
}

.container * {
  border-radius: 50%;
}

.avatar {
  background-image: initial;
}

.container :global(.clickable) {
  cursor: pointer;
  transition: all 0.25s;
}

.container:hover :global(.clickable) {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.link {
  color: inherit !important;
}

.container span {
  text-align: center;
  display: block;
  user-select: none;
}
