@import "variables";
@import url('https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap');

* {
  outline: 0;
  line-height: 2;
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  background-color: $background-color;
  margin: 0;
}

a {
  text-decoration: none;
}

.title, .event-title {
  font-family: "source-han-serif-sc", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
}

.img-background {
  background-color: rgba(0, 131, 168, .035);
}

img {
  transition: opacity .2s;
}

img[src=""], img:not([src]) {
  opacity: 0 !important;
}

img[lazy=loading] {
  opacity: 0;
}

img[lazy=loaded] {
  opacity: 1;
}

.light-font {
  color: $light-color !important;
}

.thin-font {
  font-weight: 400;
}

.text-underline {
  border-bottom: .125rem solid $light-color !important;
  padding-bottom: .125rem;
}

.light-description {
  border-left: $light-color solid .5rem;
  width: 1.5rem;
}

.background-color {
  background-color: $background-color;
}

.border-color {
  border-color: $light-color;
}

.submit-button-group {
  display: flex;
  justify-content: flex-end;
}

.submit-button-group-separate {
  display: flex;
  justify-content: space-between;
}

.large-screen {
  visibility: visible;
}

.small-screen {
  visibility: collapse;
  width: 0;
  height: 0;
}

.emphasize {
  animation: 1s linear 0s alternate emphasize;
}

.divider {
  width: 100%;
  height: .125rem;
  background-color: #eee;
  margin: 1rem 0;
}

.sorter {
  width: 5rem;
  font-size: 1.0rem;
  margin: 1rem 0;
  padding: 0 .875rem 0 0;
  text-align: right;
}

.tag {
  line-height: 1;
  margin-top: .75rem;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.image-uploader .el-upload {
  border: .125rem dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgba(256, 256, 256, .5)
}

.arrange-stack .el-collapse-item__arrow {
  display: none;
}

@media (max-width: 600px) {
  .logo {
    position: absolute;
    left: auto;
    position: absolute;
    right: 1.5rem;
    top: 2.2rem;
  }

  .action-dropdown .icon {
    display: none;
  }

  .small-screen {
    visibility: visible;
    width: auto;
    height: auto;
  }
  
  .large-screen {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .el-dialog {
    width: 85% !important;
    margin-top: 7.5vh !important;
  }
}

@keyframes emphasize {
  0% {
    box-shadow: 0;
  }

  40% {
    box-shadow: 0 0px 30px rgba(30,139,195,.4);
  }

  100% {
    box-shadow: 0;
  }
}
