@import "variables";

* {
  outline: 0;
  line-height: 2;
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.title, .event-title {
  font-family: "source-han-serif-sc", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
}

img {
  opacity: 0;
  transition: opacity .2s;
}

#show {
  opacity: 1;
}

.hover:hover {
  transform: translateY(-.2rem) !important;
}

.el-scrollbar .hover {
  transform: none !important;
}

.logo {
  position: absolute;
  top: 2rem;
  z-index: 1001;
  left: 0;
}

.light-font {
  color: $light-color !important;
}

.thin-font {
  font-weight: 400;
}

.text-underline {
  border-bottom: .125rem solid $light-color !important;
  padding-bottom: .125rem;
}

.light-description {
  border-left: $light-color solid .5rem;
  width: 1.5rem;
}

.background-color {
  background-color: $background-color;
}

.border-color {
  border-color: $light-color;
}

.submit-button-group {
  display: flex;
  justify-content: flex-end;
}

.submit-button-group-separate {
  display: flex;
  justify-content: space-between;
}

.large-screen {
  visibility: visible;
}

.small-screen {
  visibility: collapse;
  width: 0;
  height: 0;
}

.emphasize {
  animation: 1s linear 0s alternate emphasize;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.el-picker-panel *, .el-steps * {
  text-align: center;
}

.el-button * {
  line-height: 1;
}

.el-steps * {
  line-height: 1;
  font-weight: bold;
}

.el-form-item.is-required .el-form-item__label:before {
  content: "" !important;
}

.el-upload, .el-upload * {
  width: 100%;
}

.image-uploader .el-upload {
  border: .125rem dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgba(256, 256, 256, .5)
}

.el-step .is-finish {
  color: #000 !important;
  border-color: #000 !important;
}

.el-step .is-process {
  color: #22a7f0 !important;
  border-color: #22a7f0 !important;
}

.el-checkbox {
  margin-left: 0 !important;
  margin-right: 2rem !important;
}

.el-dialog {
  border-radius: .5rem !important;
}

@media (max-width: 600px) {
  .logo {
    left: auto;
    right: 1.5rem;
    top: 2.5rem;
  }

  .action-dropdown .icon {
    display: none;
  }

  .hover:hover {
    transform: none !important;
  }

  .el-dialog {
    width: 85% !important;
  }

  .small-screen {
    visibility: visible;
    width: auto;
    height: auto;
  }
  
  .large-screen {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media (max-width: 390px) {
  .el-message {
    width: 97% !important;
    min-width: 0 !important;
    top: .5rem !important;
    text-align: left !important;
  }

  .el-message * {
    line-height: 1.25 !important;
  }

  .el-dialog {
    width: 95% !important;
  }
}

@keyframes emphasize {
  0% {
    box-shadow: 0;
  }

  40% {
    box-shadow: 0 0px 30px rgba(30,139,195,.4);
  }

  100% {
    box-shadow: 0;
  }
}
