@import "variables";

/** Viewer **/
.editor {
  overflow: hidden;
  line-height: 1.85;
  display: block;
}

.editor, .editor * {
  transition: all .2s;
  line-height: 1.75;
  text-align: left;
}

.editor .inline {
  display: inline;
}

.editor .text,
.editor .news,
.editor .event,
.editor .inline,
.editor .link {
  margin-right: .25rem;
}

.editor .inline * {
  line-height: 1.5;
}

.editor .event,
.editor .news,
.editor .link {
  box-decoration-break: clone;
}

.editor .text {
  font-size: .8rem;
  line-height: 1.5;
}

.editor .remark {
  color: $light-color;
  font-size: .8rem;
}

.comment-news .el-dialog__body,
.comment-event .el-dialog__body {
  padding: 0 2rem 1rem 2rem;
}

.comment-news .el-dialog__headerbtn,
.comment-event .el-dialog__headerbtn {
  z-index: 3000;
}

@media (max-width: 600px) {
  .comment-news .el-dialog__body,
  .comment-event .el-dialog__body {
    padding: 0 1rem 1rem 1rem;
  }
}

/** Editor **/
.editor-container .el-button-group .el-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 9px;
}

.editor-container .el-button-group .el-button:hover {
  border-color: #d8dce5;
}

.editor-container .el-button-group:first-child .el-button,
.editor-container .el-button-group:last-child .el-button:not(:last-child) {
  border-top-right-radius: 0;
  border-right: 0;
}

.editor-container .el-button-group:last-child .el-button:last-child {
  border-top-right-radius: 3px;
}

.editor-container .el-button-group:last-child .el-button,
.editor-container .el-button-group:first-child .el-button:not(:first-child) {
  border-top-left-radius: 0;
  border-left: 0;
}

.editor-container .textarea .el-textarea__inner {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  bottom: 1px;
  z-index: 10;
}

.editor-quote-form {
  display: flex;
}

.editor-quote-form .el-input:first-child,
.editor-quote-form .el-autocomplete:first-child {
  margin-right: .25rem;
}

.editor-quote-form .el-button-small {
  padding: 9px;
}
