@import "variables";

* {
  line-height: 2;
  text-align: justify;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  z-index: 1001;
}

.light-font {
  color: $light-color;
}

.thin-font {
  font-weight: 400;
}

.text-underline {
  border-bottom: .125rem solid $light-color;
  padding-bottom: .125rem;
}

.light-description {
  border-left: $light-color solid .5rem;
  width: 1.5rem;
}

.background-color {
  background-color: $background-color;
}

.border-color {
  border-color: $light-color;
}

.submit-button-group {
  display: flex;
  justify-content: flex-end;
}

.submit-button-group-separate {
  display: flex;
  justify-content: space-between;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.el-picker-panel *, .el-steps * {
  text-align: center;
}

.el-button * {
  line-height: 1;
}

.el-steps * {
  line-height: 1;
  font-weight: bold;
}

.el-form-item.is-required .el-form-item__label:before {
  content: "" !important;
}

.el-upload, .el-upload * {
  width: 100%;
}

.image-uploader .el-upload {
  border: .125rem dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgba(256, 256, 256, .5)
}
