@import "variables";

.editor {
  overflow: hidden;
  line-height: 1.75;
  display: block;
}

.editor * {
  transition: background-color .2s, color .2s;
  line-height: 1.5;
}

.editor .inline {
  display: inline;
}

.editor .inline * {
  line-height: 1.5;
}

.editor .text {
  font-size: .8rem;
  line-height: 1.5;
}

.editor .remark {
  color: $light-color;
  font-size: .8rem;
}

.comment-news .el-dialog__body {
  padding: 0 2rem 1rem 2rem;
}

.comment-news .el-dialog__headerbtn {
  z-index: 3000;
}
