.editor {
  margin-top: .5rem;
  padding: .5rem;
  width: 100%;
  font-size: .8rem;
  line-height: 1.5;
  background-color: rgba(30, 139, 195, .1);
  border-radius: .25rem;
}

.editor * {
  max-width: 100%;
  text-align: left;
  margin-top: .25rem;
}

.editor img {
  opacity: 1 !important;
}

.editor a {
  color: black;
  padding-bottom: .125rem;
  border-bottom: #000 solid 1px;
}

.editor ul {
  color: green;
}

.editor code {
  color: #f66;
}
