@import "variables";

.editor {
  padding: .5rem 0rem;
  width: 100%;
  font-size: .8rem;
  line-height: 1.5;
}

.editor * {
  max-width: 100%;
  text-align: left;
  line-height: 1.5 !important;
  color: #888;
}

.editor em:first-child {
  color: $light-color;
  font-style: normal;
}

.editor img {
  opacity: 1 !important;
}

.editor a {
  color: #888;
  padding-bottom: .125rem;
  border-bottom: #888 solid 1px;
}
