@import "variables";

.subscribe-container {
  transition: all .2s;
}

.subscribe-container:hover, .exact-active-link {
  background-color: $background-color;
  box-shadow: 0 20px 80px rgba(0,0,0,.1), 0 5px 20px rgba(0,0,0,.05);
}

.subscribe-container .text {
  transition: .2s;
  position: relative;
}

.subscribe-container:hover .badge, .exact-active-link .badge {
  position: relative !important;
  margin-right: .25rem !important;
  top: 0 !important;
  right: 0 !important;
}

.icon {
  font-size: 1.5rem;
  margin-left: .5rem;
}

@media (max-width: 780px) {
  .subscribe-container .text {
    visibility: hidden;
    opacity: 0;
  }

  .subscribe-container:hover .text, .exact-active-link .text {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .subscribe-container .text {
    visibility: visible;
    opacity: 1;
    order: 1;
    font-size: 1rem;
  }

  .icon {
    margin-left: 0;
    margin-right: .5rem;
    font-size: 1rem;
  }

  .subscribe-container .badge,
  .subscribe-container:hover .badge,
  .exact-active-link .badge {
    margin-right: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: -.5rem !important;
    z-index: 3000;
  }
}
