.footer {
  width: 100%;
  text-align: center;
  font-size: .75rem;
  color: #586069 !important;
  margin: 1rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  text-align: center;
}

.logo-image {
  height: 2rem;
  padding-right: .5rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  align-items: center;
}

.content * {
  line-height: 1.75;
}

.content span:not(:last-child) {
  margin-right: .25rem;
}

.link, a {
  color: #586069 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  cursor: pointer;
  white-space: nowrap;
}

.link, a:not(:last-child) {
  margin-right: .25rem;
}

@media (max-width: 600px) {
  .logo-image, .logotype {
    height: 2rem;
  }
}
